@import '../index.scss';

.App {
  position: relative;
  margin: 0 auto;
  //width: 60%;
  display: flex;
  min-height: 100%;
  background: linear-gradient($colBG1, $colBG2);
  background-repeat: no-repeat;
  flex-direction: column;
}