@import '../index.scss';

.GameContainer {
  text-align: center;
  padding-bottom: 4rem;
}

.Game {
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SpecialBorder {
  margin-top: 2rem;
  display: inline-block;
  border: 4px solid white;
  border-radius: 28px;

  @media screen and (max-width: 500px) {
    margin-top: 1rem;
  }
}

.SpriteContainer {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  //max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;

  @media screen and (max-width: 500px) {
    width: 15rem;
    height: 15rem;
  }
}

.PokemonSprite {
  display: block;
  margin: 0 auto;
  width: calc(56px * 3);
  image-rendering: pixelated;

  @media screen and (max-width: 500px) {
    width: calc(56px * 2);
  }
}

.GameInfo {
  width: 90%;
  max-width: 42rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
}

.SubInfo {
  flex-grow: 0;
  flex-basis: 25%;
  padding: 0.5rem 1rem;
  
  & > h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem;
  }

  border-right: 1px solid white;
  border-left: 1px solid white;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  @media screen and (max-width: 500px) {
    flex-basis: 50%;
    padding: 0.5rem 0.8rem;

    & > h2 {
      font-size: 1.4rem;
    }

    &:first-child {
      border-left: none;
    }

    &:nth-child(2) {
      border-right: none;
    }

    &:nth-child(3) {
      border-left: none;
    }
  
    &:last-child {
      border-right: none;
    }
  }
}

.Timer, .Caught, .Score {
  font-size: 2rem;

  @media screen and (max-width: 500px) {
    font-size: 1.6rem;
  }
}

.GameForm {
  
}

.AnswerBox {
  width: 24rem;
  max-width: 100%;
  border: 2px solid white;
  padding: 0.8rem;
  border-radius: 6px;
  background: transparent;
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: 0.1s border ease-in;

  &:focus {
    outline: none;
  }

  &::placeholder {
    @include halfOpacity;
    color: $txtLite;
  }

  &.Correct {
    border: 2px solid $colTouched;
    background: $colTouched;
  }

  &.Wrong {
    border: 2px solid $colBad;
    background: $colBad;
  }
}

.ResetButton {
  @include button;
  @include buttonAltAddon;
  width: 24rem;
  max-width: 90%;
  text-transform: uppercase;

}

.TextInfo {
  margin: 1.5rem 0 2rem;
  font-size: 1.4rem;
}

.GameOverText {
  margin: 1.5rem 0 1rem;
  font-size: 1.8rem;
}

.ComboText {
  padding: 1.5rem 0;
  font-size: 1.8rem;
  max-width: 100%;
  display: inline-block;

  @media screen and (max-width: 500px) {
    font-size: 1.6rem;
  }
}

.ComboMax {
  color: rgb(187, 47, 47);
  font-weight: bold;
  
  animation: comboMax 1s infinite ease-in-out;
}

@keyframes comboMax {
  0% {
    color: rgb(187, 47, 47);
  }

  25% {
    color: rgb(28, 177, 97);
  }

  50% {
    color: rgb(241, 214, 60);
    transform: scale(1.2);
  }

  75% {
    color: rgb(28, 177, 97);
  }


}