.Landing {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3rem;
}

.MainLogo {
  display: inline-block;
  max-width: 36rem;
  width: 85%;
  margin: 0 auto;
}