.Landing {
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  min-width: 40rem;
}

.MainLogo {
  display: inline-block;
  max-width: 36rem;
  width: 85%;
  margin: 0 auto;
}

.MainHeading {
  font-size: 2rem;
  font-weight: normal;
}

.Disclaimer {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}