.Landing {
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem;
}

.MainLogo {
  display: inline-block;
  max-width: 36rem;
  width: 85%;
  margin: 0 auto;
}

.MainHeading {
  font-size: 2rem;
  font-weight: normal;
}